@import url(./normalize.css);
body {
    margin: 0;
    background-color: #047bf3;
}

#photo {
    border-radius: 5%;
    width: 20rem;
  height: 20rem; /* o el alto que tú necesites */
  object-fit: contain;

}

#card-principal {

    background-color: #fcf9f9;
    border-color: #fcf9f9;
}

/* .tiendaEnLinea{
    display: inline-flex;
} */

#productosLista{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
  
}

#button-nav-tienda{
    display: flex;
    align-items: center;
}

#button_to_Buy{
    font-size: 1.5rem;
}

#prevBtn, #nextBtn {
    font-size: 3rem;
    font-weight: 500;
}

#nuestra_tienda{
    align-content: center;
    margin: 1rem;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 4rem;

}

